GOOGLE_API_KEY=your-google-key-here
TAVILY_API_KEY=your-tavily-key-here
COMFYUI_HOST=http://127.0.0.1:8188-usually-default
COMFYUI_WORKFLOW_PATH=assets/CookingContentGeneratorWorkflow.json-or-your-own-path
COMFYUI_OUTPUT_DIR=images/-or-your-own-path
COMFYUI_INITIAL_WAIT=time-to-wait-for-comfyui-to-start-in-seconds-default-30
COMFYUI_POLL_INTERVAL=time-between-polls-to-comfyui-in-seconds-default-3
COMFYUI_TIMEOUT=maximum-time-to-wait-for-comfyui-response-in-seconds-default-180